<%- include('partials/header.ejs'); -%>

<div class="todo-container">
    <div class="todo-list">
        <h2>
        <%= listHeader %>
        </h2>
    </div>
</div>

<%- include('partials/footer.ejs'); -%>