<%- include('partials/header.ejs'); -%>
<div class="box" id="heading">
<h1>New List Name:</h1>
</div>
<div class="box">
    <form class="edit" action="/new-list" method="POST">
        <input type="text" id="newListName" name="newListName" autocomplete="off" autofocus="true" />
        <button class="add" type="submit">+</button>
      </form>
</div>

<%- include('partials/footer.ejs'); -%>